<a href="https://colab.research.google.com/github/Ivanbh214/EDA/blob/main/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [11]:
#Open the file in the github and copy the repository
url = 'https://raw.githubusercontent.com/Ivanbh214/EDA/main/avocado.csv'
df = pd.read_csv(url, sep=",", error_bad_lines=False)

In [12]:
print(df.head(5))

   Unnamed: 0        Date  AveragePrice  ...          type  year  region
0           0  2015-12-27          1.33  ...  conventional  2015  Albany
1           1  2015-12-20          1.35  ...  conventional  2015  Albany
2           2  2015-12-13          0.93  ...  conventional  2015  Albany
3           3  2015-12-06          1.08  ...  conventional  2015  Albany
4           4  2015-11-29          1.28  ...  conventional  2015  Albany

[5 rows x 14 columns]